html, body {
  margin: 0;
  padding: 0;
}

#stage {
  position: relative;
  width: 100%; height: 100vh;
}

.motion-type-1,
.motion-type-1 div,
.motion-type-2,
.motion-type-2 div,
.motion-type-3,
.motion-type-3 div,
.motion-type-4,
.motion-type-4 div,
.motion-type-5,
.motion-type-5 div,
.motion-type-6,
.motion-type-6 div,
.motion-type-7,
.motion-type-7 div,
.motion-type-8,
.motion-type-8 div{
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}

/*** motion-type-1 ***/
.motion-type-1 div { transform: scale(0); }
.motion-type-1 div:nth-child(1) { background-color: #E7BABB; }
.motion-type-1 div:nth-child(2) { background-color: #ACCCE5; }
.motion-type-1 div:nth-child(3) { background-color: #F4DFA3; }



/*** motion-type-2 ***/
.motion-type-2 div { transform-origin: right top; transform: rotate(90deg); }
.motion-type-2 div:nth-child(1) { background-color: #B4A2C9; }
.motion-type-2 div:nth-child(2) { background-color: #E7BABB; }
.motion-type-2 div:nth-child(3) { background-color: #B0D9D2; }

/*** motion-type-3 ***/
.motion-type-3 div { transform: scale(0); }
.motion-type-3 div:nth-child(2n - 1) {
  transform-origin: bottom right; transform: translateY(-100%) rotate(30deg);
}
.motion-type-3 div:nth-child(2n) {
  transform-origin: bottom left; transform: translateY(-100%) rotate(-30deg);
}
.motion-type-3 div:nth-child(1) { background-color: #F4DFA3; }
.motion-type-3 div:nth-child(2) { background-color: #E7BABB; }
.motion-type-3 div:nth-child(3) { background-color: #ACCCE5; }

/** type 4 **/
.motion-type-4 div { transform: scale(1); }
.motion-type-4 div:nth-child(1) { background-color: #E7BABB; }
.motion-type-4 div:nth-child(2) { background-color: #ACCCE5; }
.motion-type-4 div:nth-child(3) { background-color: #F4DFA3; }

/** type 5 **/
.motion-type-5 div { transform: scale(0); }
.motion-type-5 div:nth-child(2n - 1) {
  transform-origin: bottom right; transform: translateY(-100%) rotate(30deg);
}
.motion-type-5 div:nth-child(2n) {
  transform-origin: bottom left; transform: translateY(-100%) rotate(-30deg);
}
.motion-type-5 div:nth-child(1) { background-color: #F4DFA3; }
.motion-type-5 div:nth-child(2) { background-color: #E7BABB; }
.motion-type-5 div:nth-child(3) { background-color: #ACCCE5; }

/** type 6 **/

.motion-type-6 div { transform: scale(0); }
.motion-type-6 div:nth-child(2n) {
  transform-origin: bottom right; transform: translateY(-100%) rotate(30deg);
}
.motion-type-6 div:nth-child(2n - 1) {
  transform-origin: bottom left; transform: translateY(-100%) rotate(-30deg);
}

.motion-type-6 div:nth-child(1) { background-color: #B4A2C9; }
.motion-type-6 div:nth-child(2) { background-color: #E7BABB; }
.motion-type-6 div:nth-child(3) { background-color: #B0D9D2; }


/** type 7 **/

.motion-type-7 div { transform-origin: left top; transform: rotate(-90deg); }
.motion-type-7 div:nth-child(1) { background-color: #B4A2C9; }
.motion-type-7 div:nth-child(2) { background-color: #E7BABB; }
.motion-type-7 div:nth-child(3) { background-color: #B0D9D2; }

/** type 8 **/

.motion-type-8 div { transform: scale(0); }
.motion-type-8 div:nth-child(1) { background-color: #71A9C7; }
.motion-type-8 div:nth-child(2) { background-color: #548DAF; }
.motion-type-8 div:nth-child(3) { background-color: #B0D9D2; }

/*******************************************************************************************
 * animation
 *******************************************************************************************/
.motion-type-1 div:nth-child(1) {
  animation: scale 1.6s ease 1.2s forwards;
}
.motion-type-1 div:nth-child(2) {
  animation: scale 1.6s ease 1.4s forwards;
}
.motion-type-1 div:nth-child(3) {
  animation: scale 1.6s ease 1.6s forwards;
}


.motion-type-2 div:nth-child(1) {
  animation: rotate 2.5s ease 4.5s forwards;
}
.motion-type-2 div:nth-child(2) {
  animation: rotate 2.5s ease 4.7s forwards;
}

.motion-type-2 div:nth-child(3) {
  animation: rotate 2.5s ease 4.9s forwards;
}


.motion-type-3 div:nth-child(1) {
  animation: fall-1 1.2s ease 7.5s forwards;
}

.motion-type-3 div:nth-child(2) {
  animation: fall-2 1.2s ease 7.7s forwards;
}
.motion-type-3 div:nth-child(3) {
  animation: fall-1 1.2s ease 7.9s forwards;
}

.motion-type-4 div:nth-child(1) {
  animation: lowscale 0.8s ease 0.6s forwards;
}
.motion-type-4 div:nth-child(2) {
  animation: lowscale 0.8s ease 0.8s forwards;
}
.motion-type-4 div:nth-child(3) {
  animation: lowscale 0.8s ease 1.0s forwards;
}

.motion-type-5 div:nth-child(1) {
  animation: scale 1.4s ease 10.5s forwards;
}
.motion-type-5 div:nth-child(2) {
  animation: scale 1.4s ease 10.7s forwards;
}
.motion-type-5 div:nth-child(3) {
  animation: scale 1.4s ease 10.9s forwards;
}

.motion-type-6 div:nth-child(1) {
  animation: fall-2 1.4s ease 14.0s forwards;
}
.motion-type-6 div:nth-child(2) {
  animation: fall-1 1.4s ease 14.2s forwards;
}
.motion-type-6 div:nth-child(3) {
  animation: fall-2 1.4s ease 14.4s forwards;
}

.motion-type-7 div:nth-child(1) {
  animation: unrotate 1.4s ease 17.0s forwards;
}
.motion-type-7 div:nth-child(2) {
  animation: unrotate 1.4s ease 17.2s forwards;
}
.motion-type-7 div:nth-child(3) {
  animation: unrotate 1.4s ease 17.4s forwards;
}

.motion-type-8 div:nth-child(1) {
  animation: scale 1.4s ease 20.0s forwards;
}
.motion-type-8 div:nth-child(2) {
  animation: scale 1.4s ease 20.2s forwards;
}
.motion-type-8 div:nth-child(3) {
  animation: scale 1.4s ease 20.4s forwards;
}

/*******************************************************************************************
 * keyframes
 *******************************************************************************************/
@keyframes scale {
  from  {transform: scale(0);}
  to    {transform: scale(1);}
}

@keyframes rotate {
  from  {transform: rotate(90deg);}
  to    {transform: rotate(0deg);}
}

@keyframes unrotate {
  from  {transform: rotate(-90deg);}
  to    {transform: rotate(0deg);}
}

@keyframes fall-1 {
  from  {transform: translateY(-100%) rotate(30deg);}
  to    {transform: translateY(0%) rotate(0deg)}
}
@keyframes fall-2 {
  from  {transform: translateY(-100%) rotate(-30deg);}
  to    {transform: translateY(0%) rotate(0deg)}
}
@keyframes lowscale {
  from  {transform: scale(1);}
  to    {transform: scale(0);}
}